[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylama = "*"
pyopenssl = "*"
migra = {extras = ["pg"],version = "*"}
aio-pika = "*"
pika = "*"

[packages]
aiopg = ">=0.15.0"
astroid = ">=2.0.4"
backoff = ">=1.8.0"
lazy-object-proxy = ">=1.3.1"
peewee-async = ">=0.7.1"
peewee = ">=3.9.4"
peony-twitter = ">=1.1.2"
psycopg2-binary = ">=2.8.2"
pytz = "*"
six = ">=1.11.0"
wrapt = ">=1.10.11"
"discord.py" = ">=1.5.1"
flask = "*"
requests-oauth2 = "*"
gunicorn = "*"
aioredis = "*"
redis = "*"
jsonpickle = "*"
the100 = {git = "https://github.com/henworth/the100"}
pydest = {git = "https://github.com/henworth/pydest",ref = "7b23ecf95987d064515c17cfe3818469ae10d6bc"}
flask-kvsession = "*"
tenacity = "*"
get-docker-secret = "*"
arq = {git = "https://github.com/henworth/arq",ref = "e3843b6dfec032f85cda0e864f7b033bacf10f3a"}
msgpack = "*"
cryptography = ">=3.3.2"
urllib3 = ">=1.26.4"
jinja2 = ">=2.11.3"
aiohttp = ">=3.7.4"

[pipenv]
allow_prereleases = false

[scripts]
lint = "python -m pylama"
