[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
aio-pika = "*"
autopep8 = "*"
migra = {extras = ["pg"],version = "*"}
pika = "*"
pylama = "*"
pyopenssl = "*"

[packages]
aiohttp = ">=3.7.4"
aioredis = "*"
arq = ">=0.20"
backoff = ">=1.8.0"
cryptography = ">=3.3.2"
dataclasses-json = "*"
"discord.py" = ">=1.5.1"
flask = "*"
flask-kvsession = "*"
get-docker-secret = "*"
gunicorn = "*"
jinja2 = ">=2.11.3"
jsonpickle = "*"
msgpack = "*"
peony-twitter = ">=1.1.2"
pydest = {git = "https://github.com/henworth/pydest",ref = "9537696c39f36f8250082891ddcc0198142d22eb"}
pyrate-limiter = "*"
pytz = "*"
redis = "*"
requests-oauth2 = "*"
the100 = {git = "https://github.com/henworth/the100"}
tortoise-orm = {extras = ["asyncpg"], version = "*"}
urllib3 = ">=1.26.4"

[pipenv]
allow_prereleases = false

[scripts]
lint = "python -m pylama"
