-i https://pypi.org/simple
aiohttp==3.5.4
aiopg==0.15.0
aioredis==1.2.0
astroid==2.0.4
async-timeout==3.0.1
attrs==19.1.0
backoff==1.8.0
certifi==2019.6.16
chardet==3.0.4
click==7.0
discord.py==1.2.2
flask==1.0.3
gunicorn==19.9.0
hiredis==1.0.0
idna==2.8
itsdangerous==1.1.0
jinja2==2.10.1
jsonpickle==1.2
lazy-object-proxy==1.3.1
markupsafe==1.1.1
multidict==4.5.2
peewee==3.9.4
peewee-async==0.6.2a0
peony-twitter==1.1.2
psycopg2==2.8.2
git+https://github.com/henworth/pydest@b92f6864577fbc401c71ad548473c4a0754295ec#egg=pydest
pytz==2019.1
redis==3.2.1
requests==2.22.0
requests-oauth2==0.3.0
six==1.11.0
git+https://github.com/henworth/the100@f6f39915323e9b3869cf13e269ba72a4596d3352#egg=the100
urllib3==1.25.3
websockets==6.0
werkzeug==0.15.4
wrapt==1.10.11
yarl==1.3.0
--no-binary psycopg2
